@import "mixsins";

.carouselImageView {
  max-height: 100vh;
  display: block;
  animation-name: identifier;
  // size: 200pt;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  overflow: hidden;
}

@keyframes identifier {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@include mobile_700px() {
  .carouselImageView {
    min-height: 200px;
    // max-height: 650px;
    height: 150vw;
    width: "100%";

    // min-height: 100vh !important;
  }
}

@include mobile_700pxAndHeight() {
  .carouselImageView {
    max-height: fit-content;
    // display: none;
    // max-height: 100vh;
  }
}
