@import "mixsins";

.page {
  min-height: 40rem;
  background: rgb(244, 239, 236);
}
.screen {
  margin: 0px 5ch;
}

.pageWithPadding {
  background: rgb(244, 239, 236);
  min-height: 25rem;
  margin-top: 100px;
  overflow-x: hidden;
}

.galleyImgMargin {
  margin: 25px;
}
@include mobile_scren() {
  .pageWithPadding {
    margin-top: 50px;
  }
  .galleyImgMargin {
    margin: 10px;
  }
  .screen {
    margin: 0px 10px;
  }
}
