@import "mixsins";

.red {
  background: rgb(0, 232, 170);
}

.footerBottom {
  // display: none;
  // position: fixed;
  // z-index: 6;

  display: flex;
  position: relative;
  width: 100%;
  height: 55px;
  background: rgb(7, 159, 149);
  left: 0;
  bottom: 0;
  z-index: 8;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}
.hideSidenav {
  width: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.headerPadding {
  padding-top: 100px;
}
.headerTitle {
  div:nth-child(1) {
    font-size: 0.85rem;
  }
  div:nth-child(2) {
    font-size: 0.74rem;
  }
}
.headerTitle:hover {
  cursor: pointer;
}

.header {
  padding: 0% 6% 0% 2%;
  width: 100%;
  height: 100px;
  background-color: transparent;
  // color: #000000;
  position: fixed;
  top: 0;
  z-index: 2 !important;
  overflow: hidden;
  // box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.headerBackground {
  width: 100%;
  height: 100px;
  background-color: white;
  color: #000000;
  position: fixed;
  top: 0;
  z-index: 0.5;
}
.headerBackgroundTransparent {
  width: 100%;
  height: 100px;
  background-color: transparent;

  position: fixed;
  top: 0;
  z-index: 0.5;
}
.headerMenu:hover {
  cursor: pointer;
}
.link {
  color: white;
  text-decoration: none;
}

.link:active {
  color: rgb(0, 208, 142);
}

.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: rgb(21, 131, 124);
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 60px;
}

.sidenav_hide {
  display: none;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: #e2e2e2;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  text-decoration: solid;
  text-decoration-color: #ed711e;
  text-decoration-line: underline;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: transparent;
  color: white;
}
.closebtn:hover {
  // pointer-events: ;
  cursor: pointer;
}

@include mobile_scren() {
  .sidenav {
    width: 100%;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 35px;
    // height: 0;
  }

  .headerBackground {
    height: 50px;
  }
  .headerBackgroundTransparent {
    height: 50px;
  }

  .hideSidenav {
    width: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .headerMenu {
    display: none;
  }

  .headerPadding {
    padding-top: 50px;
  }
  .footerBottom {
    display: flex;
    width: 100%;
    height: 55px;
    background: rgb(7, 159, 149);
    left: 0;
    bottom: 0;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
  }

  .footerPadding {
    // height: 55px;
    width: 100%;
  }
  .closebtn {
    display: none;
  }

  .header {
    height: 50px;
    padding: 0% 0% 0% 0%;
  }
}

@include mobile() {
  .sidenav {
    width: 100%;
  }
  .hideSidenav {
    width: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@include mobile_screen() {
  .footerBottom {
    display: none;
  }
}
