@import "mixsins";

.footerBottom {
  display: none;
  position: fixed;
}
.headerPadding {
  padding-top: 100px;
}
.headerTitle {
  div:nth-child(1) {
    font-size: 0.85rem;
  }
  div:nth-child(2) {
    font-size: 0.7rem;
  }
}
.headerTitle:hover {
  cursor: pointer;
}

.header {
  padding: 0% 10% 0% 2%;
  width: 100%;
  height: 100px;
  background-color: white;
  color: #000000;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.headerMenu:hover {
  cursor: pointer;
}
.link {
  color: white;
  text-decoration: none;
}

.link:active {
  color: rgb(0, 208, 142);
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav_hide {
  display: none;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: transparent;
  color: white;
}
.closebtn:hover {
  // pointer-events: ;
  cursor: pointer;
}
@include mobile_scren() {
  .sidenav {
    width: 100%;

    // height: 0;
  }
  .headerMenu {
    display: none;
  }

  .headerPadding {
    padding-top: 50px;
  }
  .footerBottom {
    display: flex;
    width: 100%;
    height: 55px;
    background: rgb(7, 159, 149);
    left: 0;
    bottom: 0;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
  }

  .footerPadding {
    height: 55px;
    width: 100%;
  }
  .closebtn {
    display: none;
  }

  .header {
    height: 50px;
  }
}

@include mobile() {
  .sidenav {
    width: 100%;
  }
}
