@import "mixsins";

.footer_nav > div:nth-child(1) {
  > div:nth-child(1) {
    margin-top: 20px;
    min-height: 250px;
    border-right: 1.5px solid rgba(128, 128, 128, 0.2);
    margin-bottom: 50px;
  }
  > div:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 50px;
    // background: red;
    // min-height: 300px;
  }
}

.footer_bottom > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  padding: 0;
  margin: 0;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // flex-direction: column;
}

.footer_bottom > div:nth-child(1) {
  min-height: 40px;
  background: black;
}

.footer_bottom > div:nth-child(1) > div:nth-child(1) {
  padding-left: 100px;
  display: flex;
  align-items: center;
  // background: rgb(113, 5, 255);
}

.footer_bottom > div:nth-child(1) > div:nth-child(2) {
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // background: rgb(248, 45, 109);
}

@include mobile() {
  .footer_nav > div:nth-child(1) {
    > div:nth-child(1) {
      display: none;
    }
    // > div:nth-child(2) {
    // }
  }
  // .footer_bottom > div:nth-child(1) {
  //   min-height: 40px;
  //   background-color: red;
  // }
  // .footer_bottom > div:nth-child(2) {
  //   min-height: 60px;
  // }
  .footer_bottom > div:nth-child(1) > div:nth-child(1) {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer_bottom > div:nth-child(1) > div:nth-child(2) {
    justify-content: center;
    padding: 0%;
  }
}
@include xl() {
  .footer_bottom > div:nth-child(1) > div:nth-child(2) {
    justify-content: center;
    padding: 0%;
  }
}

@include md() {
  .footer_bottom > div:nth-child(1) > div:nth-child(2) {
    font-size: 0.6rem;
    padding: 0.4rem 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include xsm() {
  .footer_bottom > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    padding: 5px 0px;
    margin: 0;
    div {
      display: flex;
      padding-top: 2px;
      padding-bottom: 2px;
      align-items: center;
      justify-content: center;
    }
  }
}

@include xxsm {
  .footer_bottom > div:nth-child(2) {
    min-height: 300px;
  }
}
